:root {
   --heading-font-family: 'Arapay', cursive;
   --logo-font-family: 'Italianno', cursive, sans-serif;
   /* --phrase-font-family: 'Dancing Script', cursive; */
   --title-color:  rgb(52, 63, 60);
}

/* global */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
   /* height: 100%; */
   background: #bcc4af;
   /* background: #d8dfcf; */
   font-family: var(--heading-font-family);
   max-width: 100%;

   overflow-x: hidden;
   /* remove scroll on bottom  */
}


/*  nav*/
a {
   text-decoration: none;

}

a:hover {
   font-size: large;
 }
 a::after{
   transition: all, .3s;
 }

.navbar {
   transition: all 0.5s;
   z-index: 1099;
}
.logo {
   padding-top: 10px;
   font-size: 20px;
   font-weight: 600;
   font-family: var(--logo-font-family);
   margin-left: 50px;
   /* color: rgb(73,   94, 97); */
   color: rgb(28, 34, 33);
}

.ul-item {
   justify-content: end;
   /* padding-right: 10px; */
}
/* - nav справа */

.navbar-nav .nav-item {
   font-weight: bold;
   font-size: larger;
}


/* toggler */
.navbar-light .navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")' stroke-width=' 2' stroke-linecap=' round' stroke-miterlimit=' 10' d=' M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);
}

/* меняем цвет текста в navbar */
.nav-link {
   color: rgb(19, 19, 29) !important;
}

/* navbar-scrolled   объявляем класс, испол в js*/
.navbar-scrolled {
   background-color: rgb(172, 181, 178);
   opacity: 0.7;
   transition: all 1s;
   font-weight: bold;
   color: rgb(52, 63, 60);
}

.navtext-scrolled {
   color: rgb(20, 20, 20) !important;
}

/*  change nav-text-color  ???*/
nav.navtext-scrolled,
nav.navtext-scrolled a,
nav.navtext-scrolled .active {
   -webkit-text-fill-color: rgb(15, 19, 16);

   color: rgb(24, 30, 31);
   font-weight: bold;
   transition: all 1s;
}


/* header*/
header {
   width: 100vw;
   height: 100vh;
   background-image: url('/img/apples.jpg');
   opacity: 0.7;
   background-position: top;
   background-size: cover;
   /* display: flex; */
   align-items: center;
   justify-content: center;
   position: relative;
}

.header-content {
   position: absolute;
   top: 35%;
   left: 25%;
   color: rgb(32, 39, 37);
}

.header-content h2 {
   font-size: 4vmin;
}

.header-content h1 {
   font-size: 9vmin;
   margin-top: 20px;
   margin-bottom: 30px;
   font-family: 'Italianno', cursive;
}

.line {
   width: 150px;
   height: 3px;
   background: rgb(60, 78, 81);
   margin: 10px auto;
}

/* button up */
#btnScrollToTop {
   /* display: none; */
   position: fixed;
   bottom: 20px;
   right: 30px;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   border: none;
   background-color: rgba(60, 78, 81, 0.5);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   color: white;
   outline: none;
   cursor: pointer;
   z-index: 99;
   /*
    border: none;
    padding: 15px; */
}

#btnScrollToTop:active {
   background: #ba897a;
}


 /* row правління management row 1 */
 .section-mamagment {
    background-color: #ced1ca;
 }
 .row-management{
   display: flex;
 }
.box-management{
   text-align: center;
   justify-content: center;
   align-items: center;
}
.col-management{
flex: 1;
padding: 10px;
background-color: rgb(217, 217, 217);
margin:  auto;
border: 8px solid whitesmoke;

}

/* Events правління management*/

.title-info {
   text-align: center;
   font-size: 4vmin;
   color: rgb(60, 78, 81);
   padding-bottom: 15px;
}

.container-management,
.container-document {
   width: 100%;
   /* background-color: #bcc4af; */
margin: 0;
}

.management {
   /* background-color: rgb(99, 113, 32); */
   margin:0 auto;
   height: 100%;
   padding: 20px 20px 10px;
}

.body-management {
   background-color: rgba(198, 197, 197, 0.7);
   /* background-color: #bcc4af; */
}
.text-management{
list-style: none;
padding-left: 0;
}

.row-management{
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 0;
}

/* оголошення */
.holder-advert{
   background: rgb(164, 171, 119) url('/img/vegetables.png');
   /* background: rgb(157, 186, 102) url('/img/vegetables.png'); */

   background-size: cover;
   background-position: center;
   }

.box-advert {
   height: 100vh;
   width: 100%;
      opacity: 0.8;
   /* background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom; */
   display: flex;
      padding: 20px 0;
   }
      /* div для оголошеня */
.fullscreen-body {
   background-color: rgba(198, 197, 197, 0.7);
   opacity: 0.9;
   flex: 1 1 auto;
   /* width для Exploer */
   width: 100%;
   max-width: 60%;
   margin: 0 auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.fullscreen-title {
   font-size: 50px;
   font-weight: 500;
   margin: 0 0 25px 0;
   letter-spacing: 2px;
}

.fullscreen-text {
   font-size: 25px;
   font-weight: 500;
   margin: 0 0 20px 0;
}

/* документи  статут протоколи*/

.card-title {
   font-size: x-large;
}

h1.card-title {
   font-size:48px;
}

.card-title a{
color: #3b5148ab;
}

.card-title a:hover {
   color: rgb(130, 103, 103);
}

.card-title a::after {
   transition: all, .3s;
}

/* electricity */
.section-electricity {
   background-color: #ced1ca;
}

.row-doc2{
   background-color: #b9aca8;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   margin: 5px 0;
}


/* footer  */
footer{
   margin: 0 auto;
}
.adress-box{
width: 100%;
background-color:#b4b9ae;

font-weight: bold;
text-align: center;
}




@media (max-width: 780px) {
   .fullscreen-title {
      font-size: 4vh;
   letter-spacing: 0px;
   }
      .fullscreen-text,
            .fullscreen-text h2{
         font-size: 3vh;
      }
}